## Análise de Faturamento

In [20]:
# Importação de Bibliotecas do Projeto
import json
import pandas as pd

In [16]:
with open("dados.json", encoding='utf-8') as meu_json: #Inicializando a base em formato Json
    dados = json.load(meu_json)

In [17]:
print(dados) #Analisando os dados em json

[{'dia': 1, 'valor': 22174.1664}, {'dia': 2, 'valor': 24537.6698}, {'dia': 3, 'valor': 26139.6134}, {'dia': 4, 'valor': 0.0}, {'dia': 5, 'valor': 0.0}, {'dia': 6, 'valor': 26742.6612}, {'dia': 7, 'valor': 0.0}, {'dia': 8, 'valor': 42889.2258}, {'dia': 9, 'valor': 46251.174}, {'dia': 10, 'valor': 11191.4722}, {'dia': 11, 'valor': 0.0}, {'dia': 12, 'valor': 0.0}, {'dia': 13, 'valor': 3847.4823}, {'dia': 14, 'valor': 373.7838}, {'dia': 15, 'valor': 2659.7563}, {'dia': 16, 'valor': 48924.2448}, {'dia': 17, 'valor': 18419.2614}, {'dia': 18, 'valor': 0.0}, {'dia': 19, 'valor': 0.0}, {'dia': 20, 'valor': 35240.1826}, {'dia': 21, 'valor': 43829.1667}, {'dia': 22, 'valor': 18235.6852}, {'dia': 23, 'valor': 4355.0662}, {'dia': 24, 'valor': 13327.1025}, {'dia': 25, 'valor': 0.0}, {'dia': 26, 'valor': 0.0}, {'dia': 27, 'valor': 25681.8318}, {'dia': 28, 'valor': 1718.1221}, {'dia': 29, 'valor': 13220.495}, {'dia': 30, 'valor': 8414.61}]

In [21]:
df = pd.DataFrame (dados) # Convertendo os dados de Json para dataframe com auxilio do pandas

In [22]:
df # Analisando os dados em dataframe

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
3     4      0.0000
4     5      0.0000
5     6  26742.6612
6     7      0.0000
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
10   11      0.0000
11   12      0.0000
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
17   18      0.0000
18   19      0.0000
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
24   25      0.0000
25   26      0.0000
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [34]:
index = df[(df.valor == 0)].index #Coletando as indexações com valores zerados

In [35]:
df.drop(index, inplace=True) # Droppando as linhas conforme indexação feita acima

In [36]:
df #Verificando os dados tratados

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [37]:
print("O maior valor de faturamento encontrado é:", max(df.valor))

O maior valor de faturamento encontrado é: 48924.2448

In [38]:
print("O menor valor de faturamento encontrado é:", min(df.valor))

O menor valor de faturamento encontrado é: 373.7838

In [40]:
print("A Média do Mês é:", df['valor'].mean())

A Média do Mês é: 20865.370166666664

In [41]:
media = df['valor'].mean()

## Dias com Faturamento Acima da Média

In [99]:
acima_media = []
count = 0
for i in df['valor']:
    if i > media:
        acima_media.append(count)
    count=count+1

In [100]:
lista_index = []
for j in acima_media:
    lista_index.append(df['dia'].index[j])

In [101]:
dias_acima_media = []
for l in lista_index:
    dias_acima_media.append(df['dia'][l])

In [102]:
print("Os dias com faturamento acima da média foram:", dias_acima_media)

Os dias com faturamento acima da média foram: [1, 2, 3, 6, 8, 9, 16, 20, 21, 27]

## Percetual de Faturamento por Estado

In [123]:
dados = [['SP', 67836.43] ,['RJ', 36678.66] ,['MG', 29229.88] ,['ES', 27165.48] ,['Outros', 19849.53] ]
df_faturamento = pd.DataFrame(dados, columns=['Estado', 'Faturamento'])

In [124]:
df_faturamento

   Estado  Faturamento
0      SP     67836.43
1      RJ     36678.66
2      MG     29229.88
3      ES     27165.48
4  Outros     19849.53

In [127]:
total = sum(df_faturamento['Faturamento'])

In [128]:
total

180759.98

In [133]:
per = []
for fat in df_faturamento['Faturamento']:
    per.append((fat / total)*100)

In [134]:
per

[37.52845624346716,
 20.291360952794975,
 16.170548370275323,
 15.028481414968068,
 10.981153018494469]

In [135]:
df_faturamento['Percentual'] = per

In [136]:
df_faturamento

   Estado  Faturamento  Percentual
0      SP     67836.43   37.528456
1      RJ     36678.66   20.291361
2      MG     29229.88   16.170548
3      ES     27165.48   15.028481
4  Outros     19849.53   10.981153

## FIM